
<%-include('header')%>
  <main>

    <div class="slider-area ">
      <div class="slider-active">
        <div class="single-slider hero-overly1 slider-height d-flex align-items-center slider-bg1">
          <div class="container">
            <div class="row">
              <div class="col-xl-6 col-lg-8 col-md-8">
                <div class="hero__caption">
                  <span>PLAZA PLATE </span>
                  <h1 data-animation="fadeInUp" data-delay=".4s">Welcome Friend</h1>
                  <p data-animation="fadeInUp" data-delay=".6s">Discover the perfect blend of flavors and ambiance at Plaza Plate, where culinary excellence meets a cozy, inviting atmosphere. Nestled in the heart of Edappally. </p>

                  <div class="hero__btn" data-animation="fadeInUp" data-delay=".7s">
                    <a  class="btn hero-btn">Discover More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="new-arrival new-arrival2">
      <div class="container">

        <div class="row justify-content-center">
          <div class="col-xl-6 col-lg-8 col-md-10">
            <div class="section-tittle mb-60 text-center wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
              <h2>Popular products</h2>
              <P>Explore our most beloved dishes, crafted to perfection and celebrated by our guests. Each item on our popular menu is a testament to our commitment to quality and flavor.</P>
            </div>
          </div>
        </div> 
       
       
        <div class="row">
          <% for (let i = 0; i < 3; i++) { %>
              <% if (data[i].image && data[i].image.length > 0) { %>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="single-new-arrival mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                          <div class="popular-img">
                              <a href="/clickproduct/?id=<%=data[i]._id%>"><img src="<%= data[i].image[0] %>" alt="<%= data[i].productName %>"></a>
                          </div>
                          <div class="popular-caption">
                              <h3><%= data[i].productName %></h3>
                              <span>₹<%= data[i].price %></span>
                          </div>
                      </div>
                  </div>
              <% } %>
          <% } %>
      </div>
      

          


    


    <div class="new-arrival new-arrival2">
      <div class="container">

        <div class="row justify-content-center">
          <div class="col-xl-6 col-lg-8 col-md-10">
            <div class="section-tittle mb-60 text-center wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
              <h2>Products you may like</h2>
              <P>Indulge in a culinary journey with our carefully curated selection that promises to delight your taste buds and leave you craving for more.</P>
            </div>
          </div>
        </div>
        <div class="row">
          <% for (let i = 0; i < 3; i++) { %>
              <% if (order[i].image && order[i].image.length > 0) { %>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="single-new-arrival mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                          <div class="popular-img">
                              <a href="/clickproduct/?id=<%=order[i]._id%>"><img src="<%= order[i].image[0] %>" alt="<%= order[i].productName %>"></a>
                          </div>
                          <div class="popular-caption">
                              <h3><%= order[i].productName %></h3>
                              <span>₹<%= order[i].price %></span>
                          </div>
                      </div>
                  </div>
              <% } %>
          <% } %>
      </div>

        <div class="row justify-content-center">
          <div class="room-btn">
            <a class="border-btn">Discover More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


    <div class="instagram-area">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="instra-tittle mb-40">
              <div class="section-tittle">
                <img src="assets/img/gallery/insta.png" alt>
                <h2>Get Inspired with Instagram</h2>
                <P class="mb-35">Discover the flavors and experiences that make Plaza Plate a culinary destination. From mouth-watering dishes to cozy ambiance, follow us for a visual feast that will tantalize your taste buds and inspire your next visit. </P>
                <a  class="border-btn">Discover More</a>
              </div>
            </div>
          </div>
          <div class="col-xl-9 col-lg-8">
            <div class="row no-gutters">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <div class="single-instagram">
                  <img src="assets/img//gallery/insta1.jpg" alt class="w-100">
                  <a href="#"><i class="ti-instagram"></i></a>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <div class="single-instagram">
                  <img src="assets/img//gallery/insta2.jpg" alt class="w-100">
                  <a href="#"><i class="ti-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <br><br><br><br>



    <div class="categories-area section-padding40 gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
              <div class="cat-icon">
                <img src="assets/img/icon/services1.svg" alt>
              </div>
              <div class="cat-cap">
                <h5>Fast & Free Delivery</h5>
                <p>Free delivery on all orders</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
              <div class="cat-icon">
                <img src="assets/img/icon/services2.svg" alt>
              </div>
              <div class="cat-cap">
                <h5>Secure Payment</h5>
                <p>Free delivery on all orders</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
              <div class="cat-icon">
                <img src="assets/img/icon/services3.svg" alt>
              </div>
              <div class="cat-cap">
                <h5>Money Back Guarantee</h5>
                <p>Free delivery on all orders</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
              <div class="cat-icon">
                <img src="assets/img/icon/services4.svg" alt>
              </div>
              <div class="cat-cap">
                <h5>Online Support</h5>
                <p>Free delivery on all orders</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
  <footer>
    <div class="footer-wrapper">
    
    <div class="footer-area footer-padding">
    <div class="container ">
    <div class="row justify-content-between">
    <div class="col-xl-4 col-lg-3 col-md-8 col-sm-8">
    <div class="single-footer-caption mb-50">
    <div class="single-footer-caption mb-30">
    
    <div class="footer-logo mb-35">
    <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt></a>
    </div>
    <div class="footer-tittle">
    <div class="footer-pera">
    <p>Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p>
    </div>
    </div>
    
    <div class="footer-social">
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-pinterest-p"></i></a>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
    <div class="single-footer-caption mb-50">
    <div class="footer-tittle">
    <h4>Quick links</h4>
    <ul>
    <li><a href="#">Image Licensin</a></li>
    <li><a href="#">Style Guide</a></li>
    <li><a href="#">Privacy Policy</a></li>
    </ul>
    </div>
    </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
    <div class="single-footer-caption mb-50">
    <div class="footer-tittle">
    <h4>Shop Category</h4>
    <ul>
    <li><a href="#">Image Licensin</a></li>
    <li><a href="#">Style Guide</a></li>
    <li><a href="#">Privacy Policy</a></li>
    </ul>
    </div>
    </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
    <div class="single-footer-caption mb-50">
    <div class="footer-tittle">
    <h4>Pertners</h4>
    <ul>
    <li><a href="#">Image Licensin</a></li>
    <li><a href="#">Style Guide</a></li>
    <li><a href="#">Privacy Policy</a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <div class="footer-bottom-area">
    <div class="container">
    <div class="footer-border">
    <div class="row d-flex align-items-center">
    <div class="col-xl-12 ">
    <div class="footer-copy-right text-center">
    <p>
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
    </p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    </div>
    </footer>
    

  <div id="back-top">
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
  </div>
  


  <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
  <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
  <script src="./assets/js/popper.min.js"></script>
  <script src="./assets/js/bootstrap.min.js"></script>

  <script src="./assets/js/owl.carousel.min.js"></script>
  <script src="./assets/js/slick.min.js"></script>
  <script src="./assets/js/jquery.slicknav.min.js"></script>

  <script src="./assets/js/wow.min.js"></script>
  <script src="./assets/js/animated.headline.js"></script>
  <script src="./assets/js/jquery.magnific-popup.js"></script>
  <script src="./assets/js/gijgo.min.js"></script>
  <script src="./assets/js/lightslider.min.js"></script>
  <script src="./assets/js/price_rangs.js"></script>

  <script src="./assets/js/jquery.nice-select.min.js"></script>
  <script src="./assets/js/jquery.sticky.js"></script>
  <script src="./assets/js/jquery.barfiller.js"></script>

  <script src="./assets/js/jquery.counterup.min.js"></script>
  <script src="./assets/js/waypoints.min.js"></script>
  <script src="./assets/js/jquery.countdown.min.js"></script>
  <script src="./assets/js/hover-direction-snake.min.js"></script>

  <script src="./assets/js/contact.js"></script>
  <script src="./assets/js/jquery.form.js"></script>
  <script src="./assets/js/jquery.validate.min.js"></script>
  <script src="./assets/js/mail-script.js"></script>
  <script src="./assets/js/jquery.ajaxchimp.min.js"></script>

  <script src="./assets/js/plugins.js"></script>
  <script src="./assets/js/main.js"></script>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
  </script>
  <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317"
    integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA=="
    data-cf-beacon='{"rayId":"85441fa0bb0b29f3","b":1,"version":"2024.2.0","token":"cd0b4b3a733644fc843ef0b185f98241"}'
    crossorigin="anonymous"></script>
</body>

</html>