<%-include('header')%>
<style>
    .square-image {
    width: 300px;
    height: 300px; 
    overflow: hidden; 
}

</style>
<main>

    <div class="slider-area ">
        <div class="slider-active">
        <div class="single-slider hero-overly2  slider-height2 d-flex align-items-center slider-bg2">
        <div class="container">
        <div class="row">
        <div class="col-xl-6 col-lg-8 col-md-8">
        <div class="hero__caption hero__caption2">
        <h1 data-animation="fadeInUp" data-delay=".4s">ORDER DETAILS</h1>
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Order Details</a></li>
        </ol>
        </nav>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
    
    
<section class="cart_area section-padding40">
    <div class="container">
    <div class="cart_inner">
    <div class="table-responsive">
      <div class="payment border-top mt-3 mb-3 border-bottom table-responsive" >
    
        <table class="table table-borderless">
            <thead>
                <th> PRODUCT IMAGE</th>
                <th> PRODUCT NAME</th>
                <th> ADDRESS</th>
            </thead>
            
            <tbody>
                <% values.forEach(value =>{ %>
                <tr>
                    <td>
                        <div class="py-2">
    
                          
                            <div class="square-image">
                                <span>
                                    <img style="transition: 10ms;" src="<%=value.image[0]%>" alt="">
                                </span>
                            </div>
                            
                        </div>
                    </td>
                    <td>
                        <div class="py-2">
    
                           
                        <span><%=value.productName%></span>
                            
                        </div>
                    </td>
                   
                         
  
    <%})%>
    <td>
        <% address.forEach(addr => { %>
            <p><strong> Phone:</strong> <%= addr.phone %></p>
            <p><strong>Street Address:</strong> <%= addr.streetaddress %></p>
            <p><strong>City:</strong> <%= addr.city %></p>
            <p><strong>Zipcode:</strong> <%= addr.zipcode %></p>
            <p><strong>State:</strong> <%= addr.state %></p>
            <p><strong>House Name:</strong> <%= addr.House_name %></p>
            <p><strong>Landmark:</strong> <%= addr.landmark %></p>
        <% }) %>
    </td>
    
    <td>  
        <div class="py-2 ">
            <form id="deleteForm">
                <input type="hidden" name="order_id" value="">
                <button type="submit" class="btn btn-danger">Cancel Order</button>
            </form>
        </div>
    </td>
    </tr> 
 
   
    
    </tbody>
    
    </table>
    
    
    
        
    </div>
    </div>
    
    </div>
    </div>
    </section>
</main>
    
    
    
    <footer>
        <div class="footer-wrapper">
        
        <div class="footer-area footer-padding">
        <div class="container ">
        <div class="row justify-content-between">
        <div class="col-xl-4 col-lg-3 col-md-8 col-sm-8">
        <div class="single-footer-caption mb-50">
        <div class="single-footer-caption mb-30">
        
        <div class="footer-logo mb-35">
        <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt></a>
        </div>
        <div class="footer-tittle">
        <div class="footer-pera">
        <p>Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p>
        </div>
        </div>
        
        <div class="footer-social">
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-pinterest-p"></i></a>
        </div>
        </div>
        </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
        <div class="single-footer-caption mb-50">
        <div class="footer-tittle">
        <h4>Quick links</h4>
        <ul>
        <li><a href="#">Image Licensin</a></li>
        <li><a href="#">Style Guide</a></li>
        <li><a href="#">Privacy Policy</a></li>
        </ul>
        </div>
        </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
        <div class="single-footer-caption mb-50">
        <div class="footer-tittle">
        <h4>Shop Category</h4>
        <ul>
        <li><a href="#">Image Licensin</a></li>
        <li><a href="#">Style Guide</a></li>
        <li><a href="#">Privacy Policy</a></li>
        </ul>
        </div>
        </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
        <div class="single-footer-caption mb-50">
        <div class="footer-tittle">
        <h4>Pertners</h4>
        <ul>
        <li><a href="#">Image Licensin</a></li>
        <li><a href="#">Style Guide</a></li>
        <li><a href="#">Privacy Policy</a></li>
        </ul>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        
        <div class="footer-bottom-area">
        <div class="container">
        <div class="footer-border">
        <div class="row d-flex align-items-center">
        <div class="col-xl-12 ">
        <div class="footer-copy-right text-center">
        <p>
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
        </p>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        
        </div>
        </footer>
        
        <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
        </div>
        <script>



   function extractidFromURL() {
    var currentURL = window.location.href;
    console.log(currentURL);
    var path = window.location.pathname;
    console.log(path);
    var segments = path.split('/');
    console.log(segments);
    var id = segments[segments.length - 1];
    console.log("ID extracted:", id);

    return id;
}


document.getElementById('deleteForm').addEventListener('click', async (e) => {
    e.preventDefault()
    var id = extractidFromURL();
    console.log("ID extracted:", id);

    const response = await fetch('/deleteOrder', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ id: id }) // Send the extracted ID in the request body
    });

    const data = await response.json();
    console.log("Data from backend:", data);

    // Handle the response from the server
    if (data.success === true) {
        swal.fire({
            title: "Success",
            text: data.message,
            icon: "success"
        });
        window.location.href='/getorderdetails'
    } else {
        swal.fire({
            title: "Error",
            text: data.message,
            icon: "error"
        });
    }
});
        </script>
        
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="./assets/js/popper.min.js"></script>
        <script src="./assets/js/bootstrap.min.js"></script>
        
        <script src="./assets/js/owl.carousel.min.js"></script>
        <script src="./assets/js/slick.min.js"></script>
        <script src="./assets/js/jquery.slicknav.min.js"></script>
        
        <script src="./assets/js/wow.min.js"></script>
        <script src="./assets/js/animated.headline.js"></script>
        <script src="./assets/js/jquery.magnific-popup.js"></script>
        <script src="./assets/js/gijgo.min.js"></script>
        
        <script src="./assets/js/jquery.nice-select.min.js"></script>
        <script src="./assets/js/jquery.sticky.js"></script>
        <script src="./assets/js/jquery.barfiller.js"></script>
        
        <script src="./assets/js/jquery.counterup.min.js"></script>
        <script src="./assets/js/waypoints.min.js"></script>
        <script src="./assets/js/jquery.countdown.min.js"></script>
        <script src="./assets/js/hover-direction-snake.min.js"></script>
        
        <script src="./assets/js/contact.js"></script>
        <script src="./assets/js/jquery.form.js"></script>
        <script src="./assets/js/jquery.validate.min.js"></script>
        <script src="./assets/js/mail-script.js"></script>
        <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
        
        <script src="./assets/js/plugins.js"></script>
        <script src="./assets/js/main.js"></script>
        
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'UA-23581568-13');
        </script>
        <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317" integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA==" data-cf-beacon='{"rayId":"85441fb34ad929f3","b":1,"version":"2024.2.0","token":"cd0b4b3a733644fc843ef0b185f98241"}' crossorigin="anonymous"></script>
        </body>
       
    
       
        
        
       