<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="DexignZone">
	<meta name="robots" content="">
	<meta name="keywords" content="admin dashboard, admin template, administration, analytics, bootstrap, cafe admin, elegant, food, health, kitchen, modern, responsive admin dashboard, restaurant dashboard">
	<meta name="description" content="Discover Davur - the ultimate admin dashboard and Bootstrap 5 template. Specially designed for professionals, and for business. Davur provides advanced features and an easy-to-use interface for creating a top-quality website with frontend">
	<meta property="og:title" content="Davur : Restaurant Admin Dashboard + FrontEnd">
	<meta property="og:description" content="Discover Davur - the ultimate admin dashboard and Bootstrap 5 template. Specially designed for professionals, and for business. Davur provides advanced features and an easy-to-use interface for creating a top-quality website with frontend">
	<meta property="og:image" content="https://davur.dexignzone.com/xhtml/social-image.png">
	<meta name="format-detection" content="telephone=no">
	
	<!-- Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	 <link rel="icon" type="image/png" sizes="16x16" href="admin-assets/images/favicon.png">
	
	<!-- Title -->
	<title>PLAZA PLATE</title>
    <!-- Favicon icon -->
  
    <link href="admin-assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="admin-assets/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="admin-assets/css/style.css" rel="stylesheet">
	<link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">

</head>
<style>
	#body {
		display: flex;
		justify-content: flex-end;
		padding: 20px;
	}
 #previewContainer {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	} 

	/* #imagePreview {
		max-width: 300px;
		margin-top: 10px;
	}  */

	#imageContainer{
		display: flex;
	}
</style>
<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

	<div class="nav-header">
		<a href="/dashboard" class="brand-logo">
			<img class="logo-abbr" src="admin-assets/images/mainlogo.png" alt="">
			<!-- <img class="logo-compact" src="admin-assets/images/logo-text.png" alt="">
			<img class="brand-title" src="admin-assets/images/logo-text.png" alt=""> -->
			<h3 class="placeholder-heading" data-placeholder="Plaza Plate" >Plaza Plate</h3>

		</a>

		<div class="nav-control">
			<div class="hamburger">
				<span class="line"></span><span class="line"></span><span class="line"></span>
			</div>
		</div>
	</div>

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
		<div class="content-wrapper">
			<div class="container-fluid">
				<div class="row">
					
						<form enctype="multipart/form-data" id="editproduct" >
							
				
				
					<div class="col-xl-10 col-md-12">
						<div class="row">
							<div class="col-xl-7 col-lg-7 col-md-6">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">Edit an item</h4>
									</div>
									<div class="card-body">
										<div class="mb-3 pb-3">
											<label for="productname" class="form-label font-w600">Food Name</label>
											<input type="text" class="form-control" id="productname" name="productName"value="<%=data.productName%>" required>
										</div>
										<div class="mb-3 pb-3">
											<label for="price" class="form-label font-w600">Food Price</label>
											<input type="text" class="form-control" id="price" name="price" value="<%=data.price%>"required>
										</div>
										<div class="mb-3 pb-3">
											<label for="stock" class="form-label font-w600">Stock</label>
											<input type="number" class="form-control" id="stocks" name="stock" value="<%=data.stock%>"">

										</div>

	
										
										<div class="mb-3 pb-3">
											<label for="description" class="form-label font-w600">Item description</label>
											<textarea class="form-control" id="description" name="description" rows="5" required><%=data.description%></textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-2 col-md-12" style="margin-left: 450px;">
						<% data.image.forEach((image, index) => { %>
							<div id="imageContainer_<%= index %>">
								<div class="previewContainer">
									<!-- Use a unique ID for each image element -->
									<img src="<%= image %>" style="max-width: 100%;" alt="Image Preview" id="imagePreview_<%= index %>">
									<!-- Ensure the onchange handler passes the right index -->
									<input type="file" name="ProductImages"  multiple="multiple" onchange="imagechange(event, '<%= index %>')">
								</div>
							</div>
						<% }) %>
					</div>
					
					
					

					
			
				<!-- Move the card-footer and button outside the col-xl-10 div -->
				<div class="card-footer">
					<button class="btn btn-primary btn-block rounded" onclick="validate()" type="submit">Upload Items</button>
				</div>
				</form> 
			</div>
		</div>
			
		</div>
		</div>
		
		
        <!--**********************************
            Content body end
        ***********************************-->

        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer p-0">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="http://dexignzone.com/" target="_blank">DexignZone</a> 2023</p>
            </div>
        </div>
       

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
	<script>

function imagechange(event, index) {
    const file = event.target.files[0];
    if (file) {
        // Create a URL for this file
        const imageUrl = URL.createObjectURL(file);
        // Access the image preview element by its unique ID
        const imagePreview = document.getElementById(`imagePreview_${index}`);
        if (imagePreview) {
            imagePreview.src = imageUrl;
        }
    }
}



		document.getElementById('editproduct').addEventListener('submit',async function(event){
			event.preventDefault();
			validate();
		})

			async function validate(){

			// Get the query string from the current URL
					const queryString = window.location.search;

 			// Create a URLSearchParams object from the query string
			const urlParams = new URLSearchParams(queryString);

			// Get the value of the 'id' parameter
			const urlId = urlParams.get('id');
			console.log(urlId);
			
			
			const productname=document.getElementById('productname').value;
			const price=document.getElementById('price').value;
		
			const description=document.getElementById('description').value;
			const stock=document.getElementById('stocks').value;
			console.log(stock);
			const imageInputs = document.querySelectorAll('input[type="file"]');
   
			
		
	

			const formData={
				id:urlId,
				productName:productname,
				price:price,
				description:description,
				stock:stock,

				
			

			

			}
			try{
			console.log(formData);
			const response=await fetch('/posteditproduct',{
				method:"POST",
				headers:{
					'Content-Type':'application/json'
				},
				body:JSON.stringify(formData)
			
			})
			const data = await response.json();
				console.log(data);

				if (data.success===true) {
					Swal.fire({
            title: 'Success!',
            text: data.message,
            icon: 'success',
			})
			window.location.href='/getproduct';
				} else {
					console.log(data.error);
					Swal.fire({
            title: 'Error!',
            text: data.message,
            icon: 'error',
          })
				}
			} catch (error) {
				console.log(error);
			}
		}
		



		

			

		



	


   





	</script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="admin-assets/vendor/global/global.min.js"></script>
	<script src="admin-assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="admin-assets/js/custom.min.js"></script>
	<script src="admin-assets/js/deznav-init.js"></script>
	
	<!-- Counter Up -->
    <script src="admin-assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="admin-assets/vendor/jquery.counterup/jquery.counterup.min.js"></script>
	
	<!-- Datatable -->
    <script src="admin-assets/vendor/datatables/js/jquery.dataTables.min.js"></script>
	
	
	<script>
	(function($) {
	 
		var table = $('#example5').DataTable({
			searching: false,
			paging:true,
			select: false,
			//info: false,         
			lengthChange:false
		});
		$('#example tbody').on('click', 'tr', function () {
			var data = table.row( this ).data();
			
		});
	   
	})(jQuery);
	</script>
	
</body>
</html>