<!DOCTYPE html>
<html lang="en">

<head>
	<!-- All Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="DexignZone">
	<meta name="robots" content="">
	<meta name="keywords"
		content="admin dashboard, admin template, administration, analytics, bootstrap, cafe admin, elegant, food, health, kitchen, modern, responsive admin dashboard, restaurant dashboard">
	<meta name="description"
		content="Discover Davur - the ultimate admin dashboard and Bootstrap 5 template. Specially designed for professionals, and for business. Davur provides advanced features and an easy-to-use interface for creating a top-quality website with frontend">
	<meta property="og:title" content="Davur : Restaurant Admin Dashboard + FrontEnd">
	<meta property="og:description"
		content="Discover Davur - the ultimate admin dashboard and Bootstrap 5 template. Specially designed for professionals, and for business. Davur provides advanced features and an easy-to-use interface for creating a top-quality website with frontend">
	<meta property="og:image" content="https://davur.dexignzone.com/dashboard/social-image.png">
	<meta name="format-detection" content="telephone=no">

	<!-- Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Title -->
	<title>PLAZA PLATE</title>

	<!-- Favicon icon -->
	<link rel="icon" type="image/png" sizes="16x16" href="admin-assets/images/favicon.png">
	<link rel="stylesheet" type="text/css" href="admin-assets/vendor/star-rating/star-rating-svg.css">
	<link href="admin-assets/css/style.css" rel="stylesheet">

</head>

<body>

	<!--*******************
        Preloader start
    ********************-->
	<div id="preloader">
		<div class="sk-three-bounce">
			<div class="sk-child sk-bounce1"></div>
			<div class="sk-child sk-bounce2"></div>
			<div class="sk-child sk-bounce3"></div>
		</div>
	</div>
	<!--*******************
        Preloader end
    ********************-->




	<!--**********************************
        Main wrapper start
    ***********************************-->
	<div id="main-wrapper">

		<!--**********************************
            Nav header start
        ***********************************-->
		<div class="nav-header">
			<a href="/dashboard" class="brand-logo">
				<img class="logo-abbr" src="admin-assets/images/mainlogo.png" alt="">
				<!-- <img class="logo-compact" src="admin-assets/images/logo-text.png" alt="">
				<img class="brand-title" src="admin-assets/images/logo-text.png" alt=""> -->
				<h3 class="placeholder-heading" data-placeholder="Plaza Plate">Plaza Plate</h3>

			</a>

			<div class="nav-control">
				<div class="hamburger">
					<span class="line"></span><span class="line"></span><span class="line"></span>
				</div>
			</div>
		</div>
		<!--**********************************
            Nav header end
        ***********************************-->

	

		<!--**********************************
            Sidebar start
        ***********************************-->
		<div class="deznav">
			<div class="deznav-scroll">
				<ul class="metismenu" id="menu">
					<li><a class="has-arrow ai-icon" href="/dashboard" aria-expanded="false">
						<i class="flaticon-381-controls-3"></i>
						<span class="nav-text">Dashboard</span>
					</a>
				   
				</li>

					<li><a class="has-arrow ai-icon" href="getUser" aria-expanded="false">
							<i class="fa-solid fa-gear"></i>
							<span class="nav-text">User-Details</span>
							<span class="badge badge-xs badge-danger">New</span>
						</a>

					</li>


					<li><a class="has-arrow ai-icon" href="/getcategory" aria-expanded="false">
							<i class="flaticon-381-television"></i>
							<span class="nav-text">Catogory</span>
						</a>
					</li>
					<li><a class="has-arrow ai-icon" href="/getproduct" aria-expanded="false">
							<i class="flaticon-381-controls-3"></i>
							<span class="nav-text">Products</span>
						</a>

					</li>

					<li><a class="has-arrow ai-icon" href="/getorders" aria-expanded="false">
					<i class="flaticon-381-television"></i>
					<span class="nav-text">User-Orders</span>
				</a>
			   
			</li>
			<li><a class="has-arrow ai-icon" href="/getcoupon" aria-expanded="false">
				<i class="flaticon-381-television"></i>
				<span class="nav-text">User-Coupon</span>
			</a>
		   
		</li>
		<li><a class="has-arrow ai-icon" href="/getoffer" aria-expanded="false">
			<i class="flaticon-381-television"></i>
			<span class="nav-text">Offer-Module</span>
		</a>
	   
	</li>
					<li><a class="has-arrow ai-icon" href="/adminlogout" aria-expanded="false">
						<i class="flaticon-381-controls-3"></i>
						<span class="nav-text">Logout</span>
					</a>
				   
				</li>
				






				</ul>

			
			</div>
		</div>
		<!--**********************************
            Sidebar end
        ***********************************-->

		<!--**********************************
            Content body start
        ***********************************-->
		<div class="content-body">
			<div class="container-fluid">
				<div class="row page-titles">
					
					<!-- <i><a href="/dashboard" style="font-size: 25px;">Back</a></i><br> -->
					<a href="/getaddproduct">
						<button class="btn btn-success btn-sm ml-auto">Add Products</button>
					</a> <br>
				</div>
			</div>
			<div class="row">

				<% for (let i=0; i < data.length; i++) { %>
					<div class="col-lg-12 col-xxl-4 col-xl-6">

						<div class="card">


							<div class="card-body">
								<div class="row m-b-30">
									<div class="col-md-5 col-xxl-12">
										<div class="new-arrival-product mb-4 mb-xxl-4 mb-md-0">
											<div class="new-arrivals-img-contnent">
												<img class="img-fluid " src="<%= data[i].image[0] %>" alt="">
											</div>
										</div>
									</div>
									<div class="col-md-7 col-xxl-12">
										<div class="new-arrival-content position-relative">
											<h4><a href="ecom-product-detail.html">
													<%= data[i].productName %>
												</a></h4>
											<div class="comment-review star-rating">
												<!-- Your star rating and review code here -->
												<!-- <p class="price"><%= data[i].price %></p> -->
											</div>
											<p>Availability: <span class="item"> In stock <i
														class="fa fa-check-circle text-success"></i></span></p>
											<p>price: <span class="item">
													<%= data[i].price %>
												</span> </p>
												<p>Stock :<span class="item">
													<%= data[i].stock %>
												</span></p>
												<p>Category :<span class="item">
													<%= data[i].category.categoryName %>
												</span></p>
											<p>Description:<span class="text-content">
													<%= data[i].description %>
												</span></p>
											<a href="/editadminproduct?id=<%=data[i]._id%>"><button
													class="btn btn-success">Edit</button></a>
											<!-- <a href="/deleteadminproduct/<%=data[i]._id%>"> -->
											<%if(data[i].unlist===false){%>
												<button class="btn btn-danger" onclick="deletebtn('<%=data[i]._id%>')" > Add to Unlist</button>
												<%}else{%>
													<button class="btn btn-danger" onclick="deletebtn('<%=data[i]._id%>')" >Add to User list</button>
													<%}%>
														<!-- </a> -->

										</div>
									</div>
								</div>
							</div>
							</form>

						</div>

					</div>
					<% } %>
			</div>
		</div>








		<!-- review -->
		<!-- <div class="modal fade" id="reviewModal">
						<div class="modal-dialog modal-dialog-center" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">Review</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal">
									</button>
								</div>
								<div class="modal-body">
									<form>
										<div class="text-center mb-4">
											<img class="img-fluid rounded" width="78" src="admin-assets/images/avatar/1.jpg" alt="DexignZone">
										</div>
										<div class="mb-3">
											<div class="rating-widget mb-4 text-center">
												
												<div class="rating-stars">
													<ul id="stars">
														<li class="star" title="Poor" data-value="1">
															<i class="fa fa-star fa-fw"></i>
														</li>
														<li class="star" title="Fair" data-value="2">
															<i class="fa fa-star fa-fw"></i>
														</li>
														<li class="star" title="Good" data-value="3">
															<i class="fa fa-star fa-fw"></i>
														</li>
														<li class="star" title="Excellent" data-value="4">
															<i class="fa fa-star fa-fw"></i>
														</li>
														<li class="star" title="WOW!!!" data-value="5">
															<i class="fa fa-star fa-fw"></i>
														</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="mb-3">
											<textarea class="form-control" placeholder="Comment" rows="5"></textarea>
										</div>
										<button class="btn btn-success btn-block">RATE</button>
									</form>
								</div>
							</div>
						</div>
					</div> -->



		<!--**********************************
            Content body end
        ***********************************-->


		<!--**********************************
            Footer start
        ***********************************-->
		<div class="footer">
			<div class="copyright">
				<p>Copyright © Designed &amp; Developed by <a href="http://dexignzone.com/"
						target="_blank">DexignZone</a>2023</p>
			</div>
		</div>
		<!--**********************************
            Footer end
        ***********************************-->

		<!--**********************************
           Support ticket button start
        ***********************************-->

		<!--**********************************
           Support ticket button end
        ***********************************-->


	</div>
	<!--**********************************
        Main wrapper end
    ***********************************-->

	<!--**********************************
        Scripts

	
    ***********************************-->

	<!-- Required vendors -->
	<script>
		
		async function deletebtn(productId) {
			console.log(productId);
			console.log("entered to fn");
			try {

				const response = await fetch(`/deleteadminproduct/${productId}`, {
					method: 'GET',
					headers: {
						'Content-Type': 'application/json'

					},
				})

				if (response.ok) {
					const data = await response.json();
					console.log("Inside res ok");
					console.log("Json Format data:", data);
					if (data.success === true) {
						Swal.fire({
							title: "Success",
							text: data.message,
							icon: 'success',
							timer:3000,
						})
						setTimeout(() => {
							window.location.reload='/getproduct';
						}, 3000);
					} else {
						Swal.fire({
							title: "Error!",
							text: data.message,
							icon: 'error'
						})
					}

				} else {
					console.log("Response from backend is not ok!!!")
					const errorData = await response.message
					console.log("Error response:", errorData);
				}

			} catch (error) {
				console.log(error);
			}

		}


	</script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="admin-assets/vendor/global/global.min.js"></script>
	<script src="admin-assets/js/custom.min.js"></script>
	<script src="admin-assets/js/deznav-init.js"></script>


	<script src="admin-assets/vendor/highlightjs/highlight.pack.min.js"></script>
	<!-- Circle progress -->

	<!-- Rating -->
	<script src="admin-assets/vendor/star-rating/jquery.star-rating-svg.js"></script>


</body>

</html>