<!DOCTYPE html>
<html lang="en">

<head>
   <!-- All Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="DexignZone">
	<meta name="robots" content="">
	<meta name="keywords" content="admin dashboard, admin template, administration, analytics, bootstrap, cafe admin, elegant, food, health, kitchen, modern, responsive admin dashboard, restaurant dashboard">
	<meta name="description" content="Discover Davur - the ultimate admin dashboard and Bootstrap 5 template. Specially designed for professionals, and for business. Davur provides advanced features and an easy-to-use interface for creating a top-quality website with frontend">
	<meta property="og:title" content="Davur : Restaurant Admin Dashboard + FrontEnd">
	<meta property="og:description" content="Discover Davur - the ultimate admin dashboard and Bootstrap 5 template. Specially designed for professionals, and for business. Davur provides advanced features and an easy-to-use interface for creating a top-quality website with frontend">
	<meta property="og:image" content="https://davur.dexignzone.com/dashboard/social-image.png">
	<meta name="format-detection" content="telephone=no">
	
	<!-- Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Title -->
	<title>PLAZA PLATE</title>
    
	
    <link rel="icon" type="image/png" sizes="16x16" href="admin-assets/images/favicon.png">
    <link href=" admin-assets/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
	
	<link rel="stylesheet" href="admin-assets/vendor/select2/css/select2.min.css">
	<link href="admin-assets/vendor/bootstrap-datepicker-master/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="admin-assets/ vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
      <link href=" admin-assets/css/style.css" rel="stylesheet">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


	


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
		<div class="nav-header">
			<a href="/dashboard" class="brand-logo">
				<img class="logo-abbr" src="admin-assets/images/mainlogo.png" alt="">
				<!-- <img class="logo-compact" src="admin-assets/images/logo-text.png" alt="">
				<img class="brand-title" src="admin-assets/images/logo-text.png" alt=""> -->
				<h3 class="placeholder-heading" data-placeholder="Plaza Plate" >Plaza Plate</h3>
	
			</a>
	
			<div class="nav-control">
				<div class="hamburger">
					<span class="line"></span><span class="line"></span><span class="line"></span>
				</div>
			</div>
		</div>
        <!--**********************************
            Nav header end
        ***********************************-->
		
		<!--**********************************
            Chat box start
        ***********************************-->
		
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
      <div class="deznav">
            <div class="deznav-scroll">
				<ul class="metismenu" id="menu">
               
					<li><a class="has-arrow ai-icon" href="/dashboard" aria-expanded="false">
						<i class="flaticon-381-controls-3"></i>
						<span class="nav-text">Dashboard</span>
					</a>
				   
				</li>
				
					<li><a class="has-arrow ai-icon" ,aria-expanded="false">
							<i class="fa-solid fa-gear"></i>
							<span class="nav-text">User-Details</span>
							<span class="badge badge-xs badge-danger">New</span>
						</a>
                   
                    </li>
				
					
                    <li><a class="has-arrow ai-icon" href="/getcategory" aria-expanded="false">
							<i class="flaticon-381-television"></i>
							<span class="nav-text">Catogory</span>
						</a>
                    </li>
					<li><a class="has-arrow ai-icon" href="/getproduct" aria-expanded="false">
						<i class="flaticon-381-controls-3"></i>
						<span class="nav-text">Products</span>
					</a>
				   
				</li>
				<li><a class="has-arrow ai-icon" href="/getorders" aria-expanded="false">
					<i class="flaticon-381-television"></i>
					<span class="nav-text">User-Orders</span>
				</a>
			   
			</li>
			<li><a class="has-arrow ai-icon" href="/getcoupon" aria-expanded="false">
				<i class="flaticon-381-television"></i>
				<span class="nav-text">User-Coupon</span>
			</a>
		   
		</li>
				<li><a class="has-arrow ai-icon" href="/adminlogout" aria-expanded="false">
					<i class="flaticon-381-controls-3"></i>
					<span class="nav-text">Logout</span>
				</a>
			   
			</li>
                   
            
				<div class="add-menu-sidebar">
					<img src="admin-assets/images/icon1.png" alt="">
					<p>Organize your menus through button bellow</p>
					<a href="javascript:void(0);" class="btn bg-white text-black">+ Add Menus</a>
				</div>
				<div class="copyright">
					<p><strong>Davur - Restaurant Admin Dashboard</strong> ©2023 All Rights Reserved</p>
					<p>Made with <span class="heart"></span> by DexignZone</p>
				</div>
			</div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
			 <div class="content-body">
			<div class="container-fluid">
				<!-- Row -->
				<div class="row">
					<div class="col-xl-12">
					
						<div class="filter cm-content-box box-primary">
							<div class="content-title">
								<i><a href="/dashboard" style="font-size: 25px;">Back</a></i>
								<div class="cpa">
									<i class="fa-solid fa-file-lines me-1">User List</i>
								</div>
								<div class="tools">
									<a href="javascript:void(0);" class="expand SlideToolHeader"><i class="fal fa-angle-down"></i></a>
								</div>
							</div>
							<div class="cm-content-body form excerpt">
								<div class="card-body pt-2">
									<div class="table-responsive">
										
										<table class="table table-responsive-sm mb-0">
											<thead>
												<tr>
													<th>
														<div class="form-check">
														  <input class="form-check-input" type="checkbox" value="" id="checkAll">
														  <label class="form-check-label" for="checkAll">
														   
														  </label>
														</div>
													</th>
													<th><strong>S.No</strong></th>
													<th><strong>Name</strong></th>
													<th><strong>Email</strong></th>
													<th><strong>Status</strong></th>
													<th style="width:85px;"><strong>Actions</strong></th>
												</tr>
											</thead>
											<tbody>
												
													<% for(let i = data.length-1; i >=0; i--) { %>
														<tr>
														<td>
															<div class="form-check">
																<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault-<%= i + 1 %>">
																<label class="form-check-label" for="flexCheckDefault-<%= i + 1 %>"></label>
															</div>
														</td>
														<td><b><%= i + 1 %></b></td>
														<td><%= data[i].name %></td>
														<td><%= data[i].email %></td>
														<td><%= data[i]. isBlocked ? 'Blocked' : 'Active' %></td>
														<td>
														<% if (data[i].isBlocked==true) { %>
															<a  href="/adminuserunblock/<%= data[i]._id%>">Unblock</a>
														  <% } else { %>
															<a onclick="confirmBlock()" class="text-danger" href="/adminuserblock/<%= data[i]._id%>">Block</a>
														  <% } %>
														</td>

													</tr>
													<% } %>
												
												

											</tbody>
										</table>
											
									</div>
								
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="http://dexignzone.com/" target="_blank">DexignZone</a>2023</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->


		<script>
			function confirmBlock() {
            const result = confirm("Are you sure you want to block the User?");

            if (!result) {
                // The user clicked "Cancel," so prevent the form from submitting
                event.preventDefault();
            }
            // If the user clicked "OK," the form will be submitted as usual
        }
		</script>

    <script src=" admin-assets/vendor/global/global.min.js"></script>
	<script src="admin-assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script src="admin-assets/js/dashboard/cms.js"></script>
	<script src="admin-assets/vendor/bootstrap-datepicker-master/js/bootstrap-datepicker.min.js"></script>
	<!-- ck-editor -->
	<script src="admin-assets/vendor/ckeditor/ckeditor.js"></script>
	
    <!-- Datatable -->
	<script src=" admin-assets/vendor/datatables/js/jquery.dataTables.min.js"></script>
    
	<script src=" admin-assets/js/deznav-init.js"></script>
   <script src=" admin-assets/js/custom.min.js"></script>
   
   <script>
		$(function () {
			  $("#datepicker").datepicker({ 
					autoclose: true, 
					todayHighlight: true
			  }).datepicker('update', new Date());
		
		});

	</script>
   

</body>

</html>